<mat-drawer-container class="containerCustom">
    <mat-drawer #drawer mode="side">
        <mat-card [style]="{'text-align':'center','background':'#415e8c','color':'#fff'}">
            <h1>Welcome</h1>
        </mat-card>
        <mat-nav-list>
            <mat-card class="customNavBg">
                <mat-list-item>
                    <mat-icon>dashboard</mat-icon>
                    <span [style]="{'margin-left':'5px'}">Dashboard</span>
                </mat-list-item>
                <mat-list-item>
                    <mat-accordion>
                        <mat-expansion-panel>
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    Expansion title
                                </mat-panel-title>
                            </mat-expansion-panel-header>
                        </mat-expansion-panel>
                    </mat-accordion>
                </mat-list-item>
                <mat-list-item>
                    <mat-accordion>
                        <mat-expansion-panel>
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    Expansion title
                                </mat-panel-title>
                            </mat-expansion-panel-header>
                        </mat-expansion-panel>
                    </mat-accordion>
                </mat-list-item>
                <mat-list-item>
                    <mat-accordion>
                        <mat-expansion-panel>
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    Expansion title
                                </mat-panel-title>
                            </mat-expansion-panel-header>
                        </mat-expansion-panel>
                    </mat-accordion>
                </mat-list-item>
            </mat-card>
        </mat-nav-list>
    </mat-drawer>
    <mat-toolbar>
        <button mat-icon-button (click)="drawer.toggle()" class="example-icon" aria-label="Example icon-button with menu icon">
          <mat-icon>menu</mat-icon>
        </button>
        <span>My App</span>
        <span class="example-spacer"></span>
        <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
          <mat-icon>favorite</mat-icon>
        </button>
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
          <mat-icon>share</mat-icon>
        </button>
      </mat-toolbar>
      <app-custom-grid></app-custom-grid>
</mat-drawer-container>