<section *ngIf="loader">
    <h1 class="text-shadow"> -- Mangla Foods -- </h1>
    <div class="tags">
        <p class="text-shadow"><small>#Accounts #Authorized-person-only</small></p>
    </div>
    <div class="bottleContainer">
        <div class="bottle">
            <div class="bottle__sides">
                <div class="bottle__side"><span>D</span><span>r</span><span>i</span><span>n</span><span>k</span><span>
                    </span><span>m</span><span>o</span><span>r</span><span>e</span><span>
                    </span><span>w</span><span>a</span><span>t</span><span>e</span><span>r</span><span>!</span>
                </div>
                <div class="bottle__side"><span>D</span><span>r</span><span>i</span><span>n</span><span>k</span><span>
                    </span><span>m</span><span>o</span><span>r</span><span>e</span><span>
                    </span><span>w</span><span>a</span><span>t</span><span>e</span><span>r</span><span>!</span>
                </div>
                <div class="bottle__side"><span>D</span><span>r</span><span>i</span><span>n</span><span>k</span><span>
                    </span><span>m</span><span>o</span><span>r</span><span>e</span><span>
                    </span><span>w</span><span>a</span><span>t</span><span>e</span><span>r</span><span>!</span>
                </div>
                <div class="bottle__side"><span>D</span><span>r</span><span>i</span><span>n</span><span>k</span><span>
                    </span><span>m</span><span>o</span><span>r</span><span>e</span><span>
                    </span><span>w</span><span>a</span><span>t</span><span>e</span><span>r</span><span>!</span>
                </div>
                <div class="bottle__side"><span>D</span><span>r</span><span>i</span><span>n</span><span>k</span><span>
                    </span><span>m</span><span>o</span><span>r</span><span>e</span><span>
                    </span><span>w</span><span>a</span><span>t</span><span>e</span><span>r</span><span>!</span>
                </div>
                <div class="bottle__side"><span>D</span><span>r</span><span>i</span><span>n</span><span>k</span><span>
                    </span><span>m</span><span>o</span><span>r</span><span>e</span><span>
                    </span><span>w</span><span>a</span><span>t</span><span>e</span><span>r</span><span>!</span>
                </div>
            </div>
        </div>
    </div>
    <div class="bodyContainer">
        <div class="platform">
            <div class="plate"></div>
            <div class="plate"></div>
            <div class="panels">
                <div class="panel"></div>
                <div class="panel"></div>
                <div class="panel"></div>
                <div class="panel"></div>
                <div class="panel"></div>
                <div class="panel"></div>
                <div class="panel"></div>
                <div class="panel"></div>
                <div class="panel"></div>
                <div class="panel"></div>
                <div class="panel"></div>
                <div class="panel"></div>
                <div class="panel"></div>
                <div class="panel"></div>
                <div class="panel"></div>
                <div class="panel"></div>
            </div>
        </div>
    </div>
    <div class="progressBarContainer">
        <div class="progress">
            <div id="progress-bar" class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0"
                aria-valuemax="100" style="width:0%">
                {{pwidth}}%
            </div>
        </div>
    </div>
</section>
<section class="loader2" *ngIf="loader2">
    <div class="shapeContainer">
        <div class="shape"></div>
        <div class="shape2"></div>
        <div class="shape3"></div>
        <div class="shape4"></div>
        <div class="centerLine"></div>
        <div class="neonText" id="systemText">{{systemText}}</div>
        <div class="row loadingBox">
            <div class="col-1" id="box-1"></div>
            <div class="col-1" id="box-2"></div>
            <div class="col-1" id="box-3"></div>
            <div class="col-1" id="box-4"></div>
            <div class="col-1" id="box-5"></div>
            <div class="col-1" id="box-6"></div>
            <div class="col-1" id="box-7"></div>
            <div class="col-1" id="box-8"></div>
            <div class="col-1" id="box-9"></div>
            <div class="col-1" id="box-10"></div>
            <div class="col-1" id="box-11"></div>
            <div class="col-1" id="box-12"></div>
            <div class="col-1" id="box-13"></div>
            <div class="col-1" id="box-14"></div>
            <div class="col-1" id="box-15"></div>
            <div class="col-1" id="box-16"></div>
            <div class="col-1" id="box-17"></div>
            <div class="col-1" id="box-18"></div>
            <div class="col-1" id="box-19"></div>
            <div class="col-1" id="box-20"></div>
            <div class="col-1" id="box-21"></div>
            <div class="col-1" id="box-22"></div>
            <div class="col-1" id="box-23"></div>
            <div class="col-1" id="box-24"></div>
            <div class="col-1" id="box-25"></div>
            <div class="col-1" id="box-26"></div>
            <div class="col-1" id="box-27"></div>
            <div class="col-1" id="box-28"></div>
            <div class="col-1" id="box-29"></div>
            <div class="col-1" id="box-30"></div>
            <div class="col-1" id="box-41"></div>
            <div class="col-1" id="box-42"></div>
            <div class="col-1" id="box-43"></div>
            <div class="col-1" id="box-44"></div>
            <div class="col-1" id="box-45"></div>
            <div class="col-1" id="box-46"></div>
            <div class="col-1" id="box-47"></div>
            <div class="col-1 tallerBox" id="box-48">
                <div class="glider"></div>
            </div>
            <div class="col-1 tallerBox" id="box-49"></div>
            <div class="col-1 tallerBox" id="box-50"></div>
            <div class="col-1 tallerBox" id="box-51"></div>
            <div class="col-1 tallerBox" id="box-52"></div>
            <div class="col-1 tallerBox" id="box-53"></div>
            <div class="col-1 tallerBox" id="box-54"></div>
            <div class="col-1 tallerBox" id="box-55"></div>
            <div class="col-1 tallerBox" id="box-56"></div>
            <div class="col-1 tallerBox" id="box-57"></div>
            <div class="col-1 tallerBox" id="box-58"></div>
            <div class="col-1 tallerBox" id="box-59"></div>
            <div class="col-1 tallerBox" id="box-60"></div>
            <div class="col-1 tallerBox" id="box-61"></div>
            <div class="col-1 tallerBox" id="box-62"></div>
            <div class="col-1 tallerBox" id="box-63"></div>
            <div class="col-1 tallerBox" id="box-64"></div>
            <div class="col-1 tallerBox" id="box-65"></div>
        </div>
        <div class="shape5"></div>
        <div class="shape6"></div>
        <div class="shape7"></div>
        <div class="stats" id="statText">

        </div>
    </div>
</section>
<div class="jarvisSection bgGrid" *ngIf="loader2 === false">
    <!-- <button class="ai">Click Me</button> -->
    <div id="leftmenu">
        <div id="date_time">
            <div id="date" class="semi_arc e4">
                <div class="semi_arc_2 e4_1">
                    <div class="counterspin4"></div>
                </div>
                <div style="font-size: 40px; margin-top: 25px;">04</div>
                <div style="font-size: 25px;">January</div>
            </div>

            <div id="time" class="arc e1">
                <div style="font-size: 23px; margin-left: -10px; margin-top: 23px;">23:41</div>
                <div style="font-size: 15px; margin-left: 40px; margin-top: -30px; display: inline;">31</div>
                <div style="font-size: 17px; margin-top: 20px;">Tuesday</div>
            </div>
        </div>

        <p class="title">Performance</p>
        <div class="hline title_underline"></div>

        <span class="menuitem" style="font-size: 30px; margin-left: 10px;">
            <p id="cpu" class="caption" style="font-size: 20px;margin-left: 5px;">CPU Usage: 19%</p>
        </span> <br />

        <span class="menuitem" style="font-size: 30px; margin-left: 10px;">
            <p id="ram" class="caption" style="font-size: 20px;margin-left: 5px;">Physical Memory: 28%</p>
        </span> <br />

        <span class="menuitem" style="font-size: 30px; margin-left: 10px;">
            <p id="proc" class="caption" style="font-size: 20px;margin-left: 5px;">Processes: 73</p>
        </span>

        <p class="title">Shortcuts</p>
        <div class="hline title_underline"></div>

        <div class="menu">
            <button class="menuitem"> <span class="entypo-right-open">
                    <p class="caption" style="margin-left: 5px;">User</p>
                </span>
            </button>
            <button class="menuitem"> <span class="entypo-right-open">
                    <p class="caption" style="margin-left: 5px;">Documents</p>
                </span>
            </button>
            <button class="menuitem"> <span class="entypo-right-open">
                    <p class="caption" style="margin-left: 5px;">Computer</p>
                </span>
            </button>
            <button class="menuitem"> <span class="entypo-right-open">
                    <p class="caption" style="margin-left: 5px;">Control Panel</p>
                </span>
            </button>
            <!-- <hr style="border-color: transparent; margin: 0;" /> -->
            <!-- <div class="hline" style="margin-top: 5px; margin-bottom: 5px;"></div> -->
            <button class="menuitem"> <span class="entypo-right-open">
                    <p class="caption" style="margin-left: 5px;">Custom Path 1</p>
                </span>
            </button>
            <button class="menuitem"> <span class="entypo-right-open">
                    <p class="caption" style="margin-left: 5px;">Custom Path 2</p>
                </span>
            </button>
            <button class="menuitem"> <span class="entypo-right-open">
                    <p class="caption" style="margin-left: 5px;">Custom Path 3</p>
                </span>
            </button>
        </div>
        <p class="title" style="padding-top: 90px !important;">Social</p>
        <div class="hline title_underline"></div>

        <div class="app_icon entypo-facebook-squared"></div>
        <div class="app_icon entypo-twitter"></div>
        <div class="app_icon entypo-gplus"></div>
        <div class="app_icon entypo-skype"></div>

        <div class="app_icon entypo-tumblr"></div>
        <div class="app_icon entypo-pinterest"></div>
        <div class="app_icon entypo-soundcloud"></div>
        <div class="app_icon entypo-stumbleupon"></div>

    </div>
    <!-- Right Menu -->
    <div id="rightmenu">
        <p class="title" style="text-align: left; margin-left: 10px;">Notes</p>
        <div id="particle10" class="hline"></div>
        <div id="particle11" class="hline"></div>
        <div id="particle12" class="vline"></div>
        <textarea id="note_input" rows="12" cols="44">For the maximum viewing experience, please view this pen in full screen where the code is displayed to the side of the display.
              
              To Complete:
              - Right Menu (this side of the screen)
                - Make this note restricted to 11 rows
                - Fill in empty space below
              - Weather widget next to date/time
              - Place quick access taskbar down bottom
              - Fill in space at the top</textarea>
    </div>
    <!-- Top Bar -->
    <div class="topBar"></div>
    <div class="topBar2">
        <h5 style="color: #fff;text-align: center;font-weight: 800;transform: skew(43deg);">2022</h5>
    </div>
    <!-- Arc Reactor -->
    <div id="arc_container">
        <div class="arc_reactor">
            <div class="case_container">
                <div class="e7">
                    <div class="semi_arc_3 e5_1">
                        <div class="semi_arc_3 e5_2">
                            <div class="semi_arc_3 e5_3">
                                <div class="semi_arc_3 e5_4"></div>
                            </div>
                        </div>
                    </div>
                    <div class="core2"></div>
                </div>
                <ul class="marks">
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                </ul>
            </div>
        </div>
    </div>
    <!-- Particles -->
    <!-- Left Menu Particles -->
    <!-- <canvas id="particle1" width="20" height="500"></canvas> 
  <canvas id="particle1_1" width="40" height="510"></canvas>
  <canvas id="particle1_2" width="40" height="510"></canvas> -->
    <div id="particle1_3">
        > > > >
    </div>
    <div class="customCanvasPart1"></div>
    <div class="customCanvasPart2"></div>
    <div class="canvasContainer2"></div>
    <div id="particle2">▶<br />▶<br />▶</div>
    <div id="particle3" class="vline">
        <div id="particle4" class="vline">
            <div id="particle5" class="vline">
                <div id="particle6" class="vline">
                    <div id="particle7" class="vline">
                        <div id="particle8" class="vline">
                            <div id="particle9" class="vline">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="filesModal" id="filesModalId">
        <div class="topBarFiles" id="filesModalIdheader">
            <h5 style="font-family:'Courier New', Courier, monospace !important;">Account Details</h5>
            <div>
                <i class="material-icons">minimize</i>
                <i class="material-icons" (click)="maximize('filesModalId')">crop_square</i>
                <i class="material-icons">close</i>
            </div>
        </div>
        <div class="filesBody">
            <ul>
                <li></li>
            </ul>
        </div>
    </div>
</div>