.arc {
    width: 100px;
    height: 100px;
    border: 6px solid #02feff;
    background: rgba(2, 254, 255, 0.2);
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    -moz-transform: rotateY(-30deg) translateZ(-200px);
    -ms-transform: rotateY(-30deg) translateZ(-200px);
    -webkit-transform: rotateY(-30deg) translateZ(-200px);
    transform: rotateY(-30deg) translateZ(-200px);
    transform: rotateZ(0deg);
    transition: box-shadow 3s ease;
    text-align: center;
    line-height: 100px;
}

.counterspin4 {
    animation: rotate_anti 4s linear infinite;
}

.semi_arc {
    width: 100px;
    height: 100px;
    border: 6px solid #02feff;
    background: rgba(2, 254, 255, 0.2);
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    transform: rotateZ(0deg);
    transition: box-shadow 3s ease;
    text-align: center;
    line-height: 100px;
}

.semi_arc_2 {
    content: "";
    position: absolute;
    width: 94%;
    height: 94%;
    left: 3%;
    top: 3%;
    border: 5px solid #02feff;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    animation: rotate 4s linear infinite;
    text-align: center;
    line-height: 129px;
}

.caption {
    color: rgba(2, 255, 255, 0.6);
    display: inline;
    transition: 0.3s;
    cursor: pointer;
}

.caption:hover {
    color: rgba(2, 255, 255, 1);
}

.app_icon {
    width: 48px;
    color: rgba(2, 255, 255, 0.6);
    font-size: 40px;
    text-align: center;
    display: inline-block;
    cursor: pointer;
}

.app_icon:hover {
    color: #02feff;
}

@keyframes rotate_anti {
    0% {
        transform: rotateZ(360deg);
    }

    100% {
        transform: rotateZ(0deg);
    }
}

@keyframes rotate {
    0% {
        transform: rotateZ(0deg);
    }

    100% {
        transform: rotateZ(360deg);
    }
}

.semi_arc_2:after {
    content: "";
    position: absolute;
    width: 94%;
    height: 94%;
    left: 3%;
    top: 3%;
    border: 4px solid #02feff;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    animation: rotate_anti 2s linear infinite;
}

.arc {
    width: 100px;
    height: 100px;
    border: 6px solid #02feff;
    background: rgba(2, 254, 255, 0.2);
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    -moz-transform: rotateY(-30deg) translateZ(-200px);
    -ms-transform: rotateY(-30deg) translateZ(-200px);
    -webkit-transform: rotateY(-30deg) translateZ(-200px);
    transform: rotateY(-30deg) translateZ(-200px);
    transform: rotateZ(0deg);
    transition: box-shadow 3s ease;
    text-align: center;
    line-height: 100px;
}

.arc:after {
    content: "";
    position: absolute;
    width: 94%;
    height: 94%;
    left: 3%;
    top: 3%;
    border: 4px solid #02feff;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    animation: rotate 4s linear infinite;
}

.e1:after {
    border-color: rgba(2, 255, 255, 0.6);
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
}

.e4_1 {
    border-color: rgba(2, 255, 255, 0.3);
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
}

.e4 {
    width: 150px;
    height: 150px;
}

.e4_1:after {
    border-color: rgba(2, 255, 255, 0.6);
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
}

.e5_1 {
    color: rgba(2, 255, 255, 0.15);
    border: 2px solid !important;
    border-left: 2px solid transparent !important;
    animation: rotate 5s linear infinite !important;
}

.e5_2 {
    color: rgba(2, 255, 255, 0.7);
    border: 4px solid !important;
    border-left: 4px solid transparent !important;
    border-right: 4px solid transparent !important;
    animation: rotate_anti 4s linear infinite !important;
}

.e5_3 {
    color: rgba(2, 255, 255, 0.5);
    border: 2px solid !important;
    border-left: 2px solid transparent !important;
    border-right: 2px solid transparent !important;
    animation: rotate 3s linear infinite !important;
}

.e5_4 {
    color: rgba(2, 255, 255, 0.15);
    border: 4px solid !important;
    border-left: 4px solid transparent !important;
    border-right: 4px solid transparent !important;
    border-bottom: 4px solid transparent !important;
    animation: rotate_anti 2s linear infinite !important;
}

.semi_arc_3 {
    content: "";
    position: absolute;
    width: 94%;
    height: 94%;
    left: 3%;
    top: 3%;
    border: 5px solid #02feff;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    animation: rotate 4s linear infinite;
    text-align: center;
    line-height: 129px;
}



.customCanvasPart1 {
    height: 550px;
    width: 1.25%;
    left: 260px;
    top: 440px;
    transform: skewY(55deg);
    position: absolute;
    background: rgba(0, 255, 255, 0.265);
}

.canvasContainer2 {
    border-left: 10px solid transparent;
    border-right: 4px solid #000;
    border-top: 15px solid #000;
    border-bottom: 15px solid #000;
    border-radius: 30%;
    position: absolute;
    left: 255px;
    top: 480px;
    z-index: 1;
    height: 90px;
    width: 0px;
}

.customCanvasPart2 {
    border-left: 10px solid rgba(2, 254, 255, 0.2);
    z-index: 2;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    height: 90px;
    width: 0;
    left: 255px;
    top: 480px;
    position: absolute;
}

.loader2 {
    z-index: 100;
    background-color: #000;
    position: absolute;
    width: 100%;
    height: 100vh;
}

.shapeContainer {
    position: absolute;
    top: 350px;
    height: 400px;
    width: 100%;
}

.centerLine {
    position: relative;
    margin-top: 30px;
    border: 1px solid #fff;
    width: 100%;
}

.shape {
    position: absolute;
    left: 0;
    height: 50px;
    width: 200px;
    border-bottom: 2px solid white;
    border-right: 2px solid white;
    -moz-transform: skew(-45deg);
    -webkit-transform: skew(-45deg);
    transform: skew(-45deg);
}

.shape2 {
    position: relative;
    height: 50px;
    width: 60%;
    left: 247px;
    border-top: 2px solid white;
    border-right: 2px solid white;
    -moz-transform: skew(45deg);
    -webkit-transform: skew(45deg);
    transform: skew(45deg);
}

.shape3 {
    position: absolute;
    right: 20.65%;
    top: 0px;
    height: 50px;
    width: 4%;
    border-bottom: 2px solid white;
    border-right: 2px solid white;
    -moz-transform: skew(-45deg);
    -webkit-transform: skew(-45deg);
    transform: skew(-45deg);
}

.shape4 {
    position: absolute;
    right: 0;
    top: 0;
    width: 19.5%;
    border: 1px solid white;
}

.shape5 {
    position: absolute;
    left: 0;
    bottom: 150px;
    height: 100px;
    width: 500px;
    border-bottom: 2px solid white;
    border-right: 2px solid white;
    -moz-transform: skew(-45deg);
    -webkit-transform: skew(-45deg);
    transform: skew(-45deg);
}

.shape6 {
    position: absolute;
    z-index: 1000;
    left: 550px;
    bottom: 250px;
    width: 48%;
    border-bottom: 2px solid white;
    border-right: 2px solid white;
}

.shape7 {
    position: absolute;
    z-index: 1000;
    right: 0px;
    bottom: 202px;
    height: 50px;
    width: 425px;
    border-bottom: 2px solid white;
    border-left: 2px solid white;
    -moz-transform: skew(45deg);
    -webkit-transform: skew(45deg);
    transform: skew(45deg);
}

.stats {
    text-transform: initial !important;
    font-size: 10pt;
    font-family: 'Courier New', Courier, monospace !important;
    width: 22%;
    height: 145px;
    margin: 10px;
    overflow-y: scroll !important;
    text-shadow:
        0 0 7px #fff,
        0 0 10px #fff,
        0 0 20px #fff,
        0 0 30px rgba(10, 144, 253, 0.384),
        0 0 40px rgba(10, 144, 253, 0.3),
        0 0 50px rgba(10, 144, 253, 0.250),
        0 0 60px rgba(10, 144, 253, 0.185),
        0 0 70px rgba(10, 144, 253, 0.100);
}

.neonText {
    position: absolute;
    top: 25px;
    left: 250px;
    font-size: 34pt;
    color: #fff;
    text-shadow:
        0 0 7px #fff,
        0 0 10px #fff,
        0 0 21px #fff,
        0 0 42px #0af,
        0 0 82px #0af,
        0 0 92px #0af,
        0 0 102px #0af,
        0 0 151px #0af;
}

.loadingBox {
    position: absolute;
    top: 90px;
    left: 600px;
}

.glider {
    width: 100px;
    height: 0;
    position: relative;
    top: 85px;
    left: -40px;
    border-top: 14px solid black;
    border-bottom: 14px solid black;
    border-right: 14px solid black;
    border-left: 14px solid black;
    z-index: 100;
    transform: rotate(45deg);
    box-shadow: -6px 0px 4px black;
}

.col-1 {
    margin: 5px 2px 2px 2px;
    width: 20px;
    height: 45px;
    background-color: #fff;
    box-shadow:
        0 0 7px #fff,
        0 0 10px #fff,
        0 0 20px #fff,
        0 0 30px rgba(10, 144, 253, 0.384),
        0 0 40px rgba(10, 144, 253, 0.3),
        0 0 50px rgba(10, 144, 253, 0.250),
        0 0 60px rgba(10, 144, 253, 0.185),
        0 0 70px rgba(10, 144, 253, 0.100);
}

.tallerBox {
    height: 90px;
}

.bgGrid {
    background-size: 10px 10px;
    background-image:
        linear-gradient(to right, rgba(2, 255, 255, 0.116) 0.5px, transparent 1px),
        linear-gradient(to bottom, rgb(2, 254, 255, 0.116) 0.5px, transparent 1px);
}

i {
    cursor: pointer;
}

.topBar {
    position: absolute;
    background: rgba(2, 254, 255, 0.25);
    border: 0.5px solid rgba(2, 254, 255, 0.5);
    width: 33%;
    height: 30px;
    transform: skew(45deg);
    margin-left: 33%;
}

.topBar2 {
    position: absolute;
    background: rgba(2, 254, 255, 0.25);
    border: 0.5px solid rgba(2, 254, 255, 0.5);
    width: 33%;
    height: 30px;
    transform: skew(-45deg);
    margin-left: 33%;
}

.filesModal {
    background-image: linear-gradient(to bottom right, #02c4ff7e, #02afff23);
    border: 0.5px solid #02c4ffd0;
    padding: 0px 0px 0px 0px !important;
    top: 25%;
    left: 30%;
    width: 40%;
    height: 50vh;
    position: absolute;
    z-index: 10000;
    transition: 0.5s;
}

.topBarFiles {
    height: 30px;
    width: 100%;
    margin-top: 0px;
    background: #00b7ff85;
    display: flex;
    justify-content: space-between;
    align-items: center !important;
    padding: 10px !important;
    cursor: move;
}

.filesBody {}

.filesListing {
    font-size: 8pt;
    width: 100%;
    padding: 8px 15px 8px 15px !important;
    background: #02eeff28;
    border-top: 0.5px solid #0af;
    border-bottom: 0.5px solid rgba(0, 238, 255, 0.74);
    transition: 0.5s;
}

.filesListing:hover {
    background: #02fff254;
    cursor: pointer;
    box-shadow: 0 4px 8px 0 #02fff238, 0 6px 20px 0 #02fff238;
}