<mat-drawer-container class="containerCustom">
    <mat-drawer #drawer mode="side">
        <div class="introCard">
            <h1>Welcome</h1>
            <div>
                <img src="../../../assets/Images/Avatar.jfif" alt="Avatar" class="avatar">
            </div>
            <h4>www.mangla-foods/admin.com</h4>
        </div>
        <mat-nav-list class="customNav">
            <mat-card class="customNavBg">
                <mat-list-item class="customMenuLi">
                    <span>
                        <mat-icon [ngStyle]="{'color':'white'}">dashboard</mat-icon>
                    </span>
                    <span>Dashboard</span>
                </mat-list-item>
                <mat-list-item class="customMenuLi">
                    <span>
                        <mat-icon [ngStyle]="{'color':'white'}">donut_small</mat-icon>
                    </span>
                    <span>Activities</span>
                </mat-list-item>
                <mat-list-item class="customLiContent">
                    <mat-accordion>
                        <mat-expansion-panel>
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    <span class="expandableLitem">
                                        <mat-icon [ngStyle]="{'color':'white'}">auto_graph</mat-icon>
                                    </span>
                                    Orders
                                </mat-panel-title>
                            </mat-expansion-panel-header>
                            <mat-list-item class="customMenuLi" (click)="toOrders()">
                                <span>
                                    <mat-icon [ngStyle]="{'color':'white'}">table_chart</mat-icon>
                                </span>
                                <span>Orders</span>
                            </mat-list-item>
                            <mat-list-item class="customMenuLi">
                                <span>
                                    <mat-icon [ngStyle]="{'color':'white'}">history</mat-icon>
                                </span>
                                <span>History</span>
                            </mat-list-item>
                            <mat-list-item class="customMenuLi">
                                <span>
                                    <mat-icon [ngStyle]="{'color':'white'}">add_chart</mat-icon>
                                </span>
                                <span>Add New Order</span>
                            </mat-list-item>
                        </mat-expansion-panel>
                    </mat-accordion>
                </mat-list-item>
                <mat-list-item class="customLiContent">
                    <mat-accordion>
                        <mat-expansion-panel>
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    <span class="expandableLitem">
                                        <mat-icon [ngStyle]="{'color':'white'}">groups</mat-icon>
                                    </span>
                                    Employees
                                </mat-panel-title>
                            </mat-expansion-panel-header>
                            <mat-list-item class="customMenuLi">
                                <span>
                                    <mat-icon [ngStyle]="{'color':'white'}">groups</mat-icon>
                                </span>
                                <span>Workers</span>
                            </mat-list-item>
                            <mat-list-item class="customMenuLi">
                                <span>
                                    <mat-icon [ngStyle]="{'color':'white'}">delivery_dining</mat-icon>
                                </span>
                                <span>Delivery Boys</span>
                            </mat-list-item>
                            <mat-list-item class="customMenuLi">
                                <span>
                                    <mat-icon [ngStyle]="{'color':'white'}">group_add</mat-icon>
                                </span>
                                <span>Add New Member</span>
                            </mat-list-item>
                        </mat-expansion-panel>
                    </mat-accordion>
                </mat-list-item>
                <mat-list-item class="customLiContent">
                    <mat-accordion>
                        <mat-expansion-panel>
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    <span class="expandableLitem">
                                        <mat-icon [ngStyle]="{'color':'white'}">account_tree</mat-icon>
                                    </span>
                                    Accounts
                                </mat-panel-title>
                            </mat-expansion-panel-header>
                            <mat-list-item class="customMenuLi">
                                <span>
                                    <mat-icon [ngStyle]="{'color':'white'}">manage_accounts</mat-icon>
                                </span>
                                <span>Manage Accounts</span>
                            </mat-list-item>
                            <mat-list-item class="customMenuLi">
                                <span>
                                    <mat-icon [ngStyle]="{'color':'white'}">manage_history</mat-icon>
                                </span>
                                <span>Accounts History</span>
                            </mat-list-item>
                        </mat-expansion-panel>
                    </mat-accordion>
                </mat-list-item>
            </mat-card>
        </mat-nav-list>
    </mat-drawer>
    <mat-toolbar class="customHeader">
        <button mat-icon-button (click)="drawer.toggle()" class="example-icon"
            aria-label="Example icon-button with menu icon">
            <mat-icon>menu</mat-icon>
        </button>
        <span>Mangla-Foods Admin</span>
        <span class="example-spacer"></span>
        <span class="container-fluid d-sm-none d-md-none d-lg-block d-xl-block">
            <form class="navbar-form navbar-left" action="">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search" aria-label="Search"
                        aria-describedby="basic-addon2">
                    <span class="input-group-text" id="basic-addon2"><i class="fa fa-search"></i></span>
                </div>
            </form>
        </span>
        <img src="../../../assets/Images/Avatar.jfif" alt="Avatar" class="avatarMini">
        <mat-menu #notification ="matMenu">
                <button mat-menu-item>
                    <mat-icon>person</mat-icon>
                    <span>Message-1</span>
                </button>
                <button mat-menu-item>
                    <mat-icon>person</mat-icon>
                    <span>Message-2</span>
                </button>
                <button mat-menu-item>
                    <mat-icon>person</mat-icon>
                    <span>Message-3</span>
                </button>
                <mat-divider></mat-divider>
                <button mat-menu-item>
                        <mat-icon>person</mat-icon>
                        <span>Show All Notifications</span>
                    </button>
            </mat-menu>
        <button mat-icon-button [matMenuTriggerFor]="notification" aria-label="Example icon-button with a menu">
            <mat-icon>notifications</mat-icon>
        </button>
        <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
            <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
            <button mat-menu-item>
                <mat-icon>person</mat-icon>
                <span>Profile</span>
            </button>
            <button mat-menu-item>
                <mat-icon>settings_suggest</mat-icon>
                <span>Settings</span>
            </button>
            <button mat-menu-item>
                <mat-icon>notifications</mat-icon>
                <span>Notifications</span>
            </button>
        </mat-menu>
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
            <mat-icon>exit_to_app</mat-icon>
        </button>
    </mat-toolbar>
    <app-dashboard></app-dashboard>
</mat-drawer-container>