<section class="container fadeInUp" id="fader">
    <i class="fa fa-close" style="float: right;cursor: pointer;" (click)="closeWidget()"></i>
        <!-- Current Weather Details //-->
        <header>
          <div class="row">
            
            <div class="sm-four columns current-city-name">
              <h2>Portsmouth</h2>
            </div>
            
            <div class="sm-four columns current-city-weather">
              <i class="wi wi-day-showers"></i>
            </div>
            
            <div class="sm-four columns current-city-temp">
              <h2>18<sup>o</sup>C</h2>
            </div>
            
            <span class="current-city-day">Sun</span>
            
          </div>
        </header>
        <!--// End Current Weather Details -->
        
        <!-- Days //-->
        <section class="week-days">
          
          <div class="row">
            
            <div class="sm-days columns">
              <div class="day">
                Sun
              </div>
              <div class="day-weather-icon">
                <i class="wi wi-day-showers"></i>
              </div>
              <div class="day-weather-info">
                <h2>18<sup>o</sup>C</h2>
              </div>
            </div>
            
            <div class="sm-days columns">
              <div class="day">
                Mon
              </div>
              <div class="day-weather-icon">
                <i class="wi wi-cloudy"></i>
              </div>
              <div class="day-weather-info">
                <h2>19<sup>o</sup>C</h2>
              </div>
            </div>
            
            <div class="sm-days columns">
              <div class="day">
                Tue
              </div>
              <div class="day-weather-icon">
                <i class="wi wi-showers"></i>
              </div>
              <div class="day-weather-info">
                <h2>17<sup>o</sup>C</h2>
              </div>
            </div>
            
            <div class="sm-days columns">
              <div class="day">
                Wed
              </div>
              <div class="day-weather-icon">
                <i class="wi wi-day-lightning"></i>
              </div>
              <div class="day-weather-info">
                <h2>18<sup>o</sup>C</h2>
              </div>
            </div>
            
            <div class="sm-days columns">
              <div class="day">
                Thu
              </div>
              <div class="day-weather-icon">
                <i class="wi wi-cloudy"></i>
              </div>
              <div class="day-weather-info">
                <h2>19<sup>o</sup>C</h2>
              </div>
            </div>
            
            <div class="sm-days columns">
              <div class="day">
                Fri
              </div>
              <div class="day-weather-icon">
                <i class="wi wi-day-showers"></i>
              </div>
              <div class="day-weather-info">
                <h2>20<sup>o</sup>C</h2>
              </div>
            </div>
            
            <div class="sm-days columns">
              <div class="day">
                Sat
              </div>
              <div class="day-weather-icon">
                <i class="wi wi-day-sunny"></i>
              </div>
              <div class="day-weather-info">
                <h2>18<sup>o</sup>C</h2>
              </div>
            </div>
            
          </div>
          
        </section>
      
      </section>