/* You can add global styles to this file, and also import other style files */
/* Hide scrollbar for Chrome, Safari and Opera */
*::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
* {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.ng-dygraphs-chart-container *{
    width: 100% !important;
}
h1,h2,h3,h4,h5,h6,p,span{
    font-family: monospace !important;
}
table{
    width: 100% !important;
}
.containerCustom{
    width: 100%;
    height: 100vh;
}
.mat-expansion-panel-header{
    height: 46px !important;
    width: 92%;
    padding: 0px 0px 0px 10px !important;
}
.customNav{
    margin-top: 10px;
    border-top: 2px solid lightgrey;
}
.customNavBg{
    background-color: #f1f4fa;
    height: 90vh;
}
.customMiniContainer{
    margin: 20px;
}
.customMiniContainer .mat-card{
    background-color: rgb(255, 255, 255);
}
.example-spacer{
    width: 100%;
    margin-left: 20px;
    margin-right: 20px;
    color: #fff;
}
.mat-expansion-panel{
    border-top-left-radius: 0px !important;
    border-top-right-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
    box-shadow:none !important;
    width: 100%;
    
}
.mat-list-item{
    margin: 1px !important;
}
.customLiContent .mat-list-item-content{
    padding:0 !important;
    margin: 0 !important;
    display: block !important;
}
.mat-toolbar{
    height: 40px;
}
.mat-drawer{
    background-color: #f1f4fa;
    width: 15%;
}
.customMenuLi{
    background-color: #fff;
}
.customMenuLi .mat-list-item-content{
    display: flex !important;
    align-items: center;
}
.customMenuLi span .mat-icon{
    margin-left: 10px;
}
.mat-list-item-content .mat-icon{
    color:#0e0d32;
    margin-right: 5px;
    margin-left: 15px;
}
.expandableLitem .mat-icon{
    margin-right: 8px !important;
}
.customHeader{
    text-align:center;
    background:#415e8c;
    color:#fff;
}
.introCard{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #415e8c;
    color: #fff;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 10px;
    margin: 1px;
}
.introCard h4{
    margin-top: 5px;
}
.avatarMini{
    border: 0.5px solid #b0c6dae1;;
    border-radius: 25px;
    width: 30px;
    height: 30px;
}
.avatar{
    border: 0.5px solid #b0c6dae1;;
    border-radius: 25px;
    width: 50px;
    height: 50px;
}