/* You can add global styles to this file, and also import other style files */
/* Hide scrollbar for Chrome, Safari and Opera */
*::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
* {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.ng-dygraphs-chart-container *{
    width: 100% !important;
}
h1,h2,h3,h4,h5,h6,p,span,td,th,text,button{
    font-family: monospace !important;
}
table{
    width: 100% !important;
}
.containerCustom{
    width: 100%;
    height: 100vh;
}
.mat-expansion-panel-header{
    height: 46px !important;
    padding: 0px 0px 0px 10px !important;
}
.mat-expansion-panel-header .mat-expansion-indicator{
    margin-right: 15px;
}
.customNav{
    margin-top: 10px;
    border-top: 2px solid lightgrey;
}
.customNavBg{
    background-image: linear-gradient(to bottom right, #6f84a742,#7c93b8c5 );
    height: 90vh;
}
.customMiniContainer{
    margin: 20px;
}
.customMiniContainer .col-xl-2{
    margin:5px 0px 0px 0px;
}
.customMiniContainer .mat-card{
    background-color: rgb(255, 255, 255);
}
.example-spacer{
    width: 100%;
    margin-left: 20px;
    margin-right: 20px;
    color: #fff;
}
.mat-expansion-panel{
    border-radius: 10px !important;
    box-shadow:none !important;
    width: 100%;
    background-image: linear-gradient(to bottom right, #1e3963,#415e8c73 );
}
.mat-expansion-panel *{
    color:white;
}
.mat-list-item{
    margin: 1px !important;
}
.customLiContent{
    display: inline-block !important;
}
.customLiContent .mat-list-item-content{
    padding:0 !important;
    margin: 0 !important;
    display: block !important;
}
.mat-toolbar{
    height: 40px;
}
.mat-drawer{
    background-image: linear-gradient(to bottom right, #8392aa54,#3e5983c0 );
    width: 300px;
}
.customMenuLi *{
    background: transparent;
}
.customMenuLi .mat-list-item-content{
    display: flex !important;
    align-items: center;
}
.customMenuLi span .mat-icon{
    margin-left: 10px;
}
.mat-list-item-content .mat-icon{
    color:#0e0d32;
    margin-right: 5px;
    margin-left: 15px;
}
.expandableLitem .mat-icon{
    margin-right: 8px !important;
}
.customHeader{
    text-align:center;
    background-image: linear-gradient(to bottom right, #1e3963,#415e8c73 );
    color:#fff;
}
.introCard{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to bottom right, #415e8c73,#1e3963 );
    color: #fff;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 10px;
    margin: 3px;
}
.introCard h4{
    margin-top: 5px;
}
.avatarMini{
    border: 0.5px solid #b0c6dae1;;
    border-radius: 25px;
    width: 30px;
    height: 30px;
}
.avatar{
    border: 0.5px solid #b0c6dae1;;
    border-radius: 25px;
    width: 50px;
    height: 50px;
}
.iconBtn{
    margin:2px !important;
    width:10px;
    padding: 0px 27px 0px 3px !important;
    min-width:unset !important;
}
.iconBtn .mat-icon{
    padding: 0 !important;
    margin:auto !important;
}
.secondaryHeader{
    background-color:#415e8cd5;
    color: #fff;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    padding-left: 20px;
    margin: 0;
}
.miniHeader{
    background-color:#5282afb9;
    color: #fff;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    padding-left: 20px;
    margin: 0;
}
.filesList:hover{
    background-color: #b0c6da3f;
    transition: 0.5s;
    cursor: pointer;
}
td.mat-cell:last-of-type{
padding: 0 !important;
}
.customBtn{
    line-height: normal;
    margin:5px !important;
    padding: 8px !important;
    font-size: 12pt !important;
    background-color: #5282afb9;
    color: #fff;
    font-size: 8pt;
    padding: 0px;
}
.customBtnSm{
    line-height: normal;
    margin:3px !important;
    padding: 5px !important;
    background-color: #5282afb9;
    color: #fff;
    font-size: 8pt;
    padding: 0px;
}
.customBtnLg{
    margin:10px !important;
    line-height: normal;
    padding: 10px !important;
    font-size: 16pt !important;
    background-color: #5282afb9;
    color: #fff;
    font-size: 8pt;
    padding: 0px;
}
.btn-danger,.bg-danger{
background-color: rgba(255, 0, 0, 0.685) !important;
}
.btn-info,.bg-info{
    background-color: rgba(51, 85, 136, 0.678) !important;
    color: white;
}
.shaker{
    animation: shake 0.5s;
    animation-iteration-count: infinite;
}
/* .skewer{
    margin-top: 150px;
    width: 110%;
    transform: skew(70deg,0deg);
    position: absolute;
} */
@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
}

@keyframes fade {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
  router-outlet + * {
    display: block;  /* Change display inline to block */
    animation: fade 1s;
  }